<div>
    <p> Nome: <%= professor.user.name %> </p>
    <p> E-mail: <%= professor.user.email %> </p>
    <p> NUSP: <%= professor.user.nusp %> </p>
    <p> Departamento: <%= professor.department %> </p>
    <p> Área de Pesquisa: <%= professor.research_area %> </p>
    <p> Status: <%#= professor.user.status %> </p>
    <p> <%= link_to "Visualizar", "" %> </p>
    <p> <%= link_to "Editar", "" %> </p>

</div>