<div>
    <p> Aluno: <%= report.student.user.name %> </p>
    <p> Período: <%= report.semester %>o Sem. <%= report.year %> </p>
    <p> Data de Envio: <%= report.date_sent %> </p>
    <p> Orientador: <%= report.reviewer %> </p>
    <p> Status: <%= report.status %> </p>
    <p> Responsável: <%= report.owner %> </p>
    <p> <%= link_to "Visualizar", "" %> </p>
    <p> <%= link_to "Baixar em PDF", "" %> </p>

    <% if report.status == "Administrator "%>
        <p> <%= link_to "Avaliar", "" %>
    <% end %>
</div>