<div>
    <p> Nome: <%= student.user.name %> </p>
    <p> E-mail: <%= student.user.email %> </p>
    <p> NUSP: <%= student.user.nusp %> </p>
    <p> Curso: <%= student.role %> </p>
    <p> Orientador: <%= student.name %> </p>
    <p> Status: <%#= student.user.status %> </p>
    <p> <%= link_to "Visualizar", "" %> </p>
    <p> <%= link_to "Editar", "" %> </p>

</div>