<!-- aqui vai ficar as informações "fixas" do usuario (só muda se ele pedir com jeitinho ^_^ )-->

<div>
    ------ INFORMAÇÕES DO ALUNO ------
</div>
<div>
    <p class="font-bold"> E-mail:  <%= @student.email %> </p>
    <p class="font-bold"> NUSP:  <%= @student.user.nusp %> </p>
    <p class="font-bold"> Orientador: BLANK </p>
    <p class="font-bold"> Lattes:  <%= @student.lattes_link %> </p>
    <!-- tem uma gema instalada "rails_autolink" que deve ajudar a fazer o link do lattes ficar mais clicavel -->
    <p class="font-bold"> Último update do Lattes: <%= @student.lattes_last_update %> </p>
    <p class="font-bold"> Tipo de curso: <%= @student.role %> </p>
    <p class="font-bold"> Carreira pretendida após graduação: <%= @student.pretended_career %> </p>
    <p class="font-bold"> Data de ingresso: <%= @student.join_date %> </p>
</div>